@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500);

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: white;
}

header {
    background-color: #084c61;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.08em;
}

nav>a {
    text-decoration: none;
    font-weight: 700;
    color: #ffc857;
    height: 50%;
    position: relative;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    padding-bottom: 10px;
}

body {
    min-width: 520px;
}

footer {
    background-color: #084c61;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    height: 40px;
    color: #ffc857;
    font-family: 'Raleway', sans-serif;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.logo-box {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 80px;
    margin: 10px;
    display: flex;
}

.logo-text {
    display: flex;
    align-items: flex-end;
    color: #bbb;
}

.links {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px 0 20px;
}

.links:hover {
    background-color: #323031;
}

.current-page {
    background-color: #323031;
}

.current-page::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 25px #323031;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

.banner {
    background-color: #555;
    max-height: 300px;
    max-width: 1200px;
    margin: auto;
}

.sec-1,
.sec-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

.text-section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    max-width: 600px;
}

.text-section>p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    padding-left: 30px;
    padding-right: 20px;
}

.img-section {
    display: flex;
    margin: 20px;
    height: 300px;
    min-width: 500px;
    background-color: #999;
}

.sec-3 {
    max-width: 800px;
    margin: auto;
}

.center-text-section {
    margin: 40px auto 50px auto;
    max-width: 800px;
}

.center-text-section>p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    padding: 0 30px 0 30px;
    margin: auto;
}

.center-h {
    text-align: center;
}

.p-title {
    display: inline-block;
}

.p-title::before {
    content: "";
    border-color: transparent #db3a34;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.inline-link {
    text-decoration: none;
    color: #db3a34;
    font-weight: 800;
}

.t-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 50px auto 50px auto;
    flex-wrap: nowrap;
}

.stories {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.t-img {
    width: 100px;
    height: 100px;
    background-image: url(../images/placeHead.jpg);
    border-radius: 50%;
    display: flex;
}

.t-text {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
}

.stars {
    height: 26px;
    width: 100px;
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    margin: 10px 0 0 0;
}

.user {
    margin-left: 15px;
}

.info-lines {
    width: 1000px;
    height: 250px;
    overflow: scroll;
    padding: 15px 25px 0 25px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.t-user-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 10px 0 0 0;
}

.t-info-line {
    margin: 0 0 10px 15px;
    height: 15px;
    width: 100%;
    background-color: #888;
    display: flex;
}

.social-links>a>i {
    color: #ffc857;
    font-size: 22px;

}

.social-links>a {
    text-decoration: none;
    padding-left: 8px;
}
